In [4]:
import pandas as pd

# Left DataFrame
students = pd.DataFrame({
    'student_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

# Right DataFrame
grades = pd.DataFrame({
    'student_id': [1, 2, 4],
    'grade': ['A', 'B', 'C']
})
print("Students DataFrame:")
print(students)
print("\n")
print("\n")
print("Grades DataFrame:")
print(grades)
print("\n")
print("\n")

# Merge on student_id
merged = pd.merge(students, grades, on='student_id', how='inner')
print(merged)

Students DataFrame:
   student_id     name
0           1    Alice
1           2      Bob
2           3  Charlie




Grades DataFrame:
   student_id grade
0           1     A
1           2     B
2           4     C




   student_id   name grade
0           1  Alice     A
1           2    Bob     B

In [8]:
left = pd.DataFrame({'ID': [1, 2, 3], 'Color': ['Red', 'Green', 'Blue']})
right = pd.DataFrame({'ID': [1, 3, 4], 'Shape': ['Circle', 'Square', 'Triangle']})

# Merge these with an inner join on 'ID'
merged_inner = pd.merge(left, right, on='ID', how='inner')

print("Left DataFrame:")
print(left)
print("\n")
print("\n")
print("Right DataFrame:")
print(right)
print("\n")
print("\n")

print(merged_inner)

Left DataFrame:
   ID  Color
0   1    Red
1   2  Green
2   3   Blue




Right DataFrame:
   ID     Shape
0   1    Circle
1   3    Square
2   4  Triangle




   ID Color   Shape
0   1   Red  Circle
1   3  Blue  Square

In [11]:
employees = pd.DataFrame({'emp_id': [101, 102, 103], 'name': ['Anna', 'Ben', 'Chris']})
salaries = pd.DataFrame({'emp_id': [102, 103], 'salary': [50000, 60000]})

# Get all employees with their salary if available
print("Employees DataFrame:")
print(employees)
print("\n")
print("\n")
print("Salaries DataFrame:")
print(salaries)
print("\n")
print("\n")
merged_employees = pd.merge(employees, salaries, how="left")
print(merged_employees)

Employees DataFrame:
   emp_id   name
0     101   Anna
1     102    Ben
2     103  Chris




Salaries DataFrame:
   emp_id  salary
0     102   50000
1     103   60000




   emp_id   name   salary
0     101   Anna      NaN
1     102    Ben  50000.0
2     103  Chris  60000.0

In [12]:
a = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
b = pd.DataFrame({'key': ['K1', 'K2', 'K3'], 'B': ['B1', 'B2', 'B3']})

# Get all records from both
merged_outer = pd.merge(a, b, how='outer')
print("DataFrame A:")
print(a)
print("\n")
print("\n")
print("DataFrame B:")
print(b)
print("\n")
print("\n")
print(merged_outer)

DataFrame A:
  key   A
0  K0  A0
1  K1  A1
2  K2  A2




DataFrame B:
  key   B
0  K1  B1
1  K2  B2
2  K3  B3




  key    A    B
0  K0   A0  NaN
1  K1   A1   B1
2  K2   A2   B2
3  K3  NaN   B3

In [13]:
#GROUP BY
#Basic syntax:
#df.groupby('column_to_group')['column_to_aggregate'].agg('function')

In [14]:
data = pd.DataFrame({
    'city': ['Madrid', 'Madrid', 'Barcelona', 'Barcelona', 'Seville'],
    'sales': [100, 150, 200, 130, 170]
})

print(data)
print("\n")
print("\n")

grouped = data.groupby('city')['sales'].sum()
print(grouped)

        city  sales
0     Madrid    100
1     Madrid    150
2  Barcelona    200
3  Barcelona    130
4    Seville    170




city
Barcelona    330
Madrid       250
Seville      170
Name: sales, dtype: int64

In [18]:
grades = pd.DataFrame({
    'student': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'subject': ['Math', 'Math', 'Math', 'History', 'History'],
    'score': [90, 85, 70, 95, 80]
})

# Group by subject and find the average score
print(grades)
print('\n')
print('\n')
grouped=grades.groupby('subject')['score'].mean()
print(grouped)

   student  subject  score
0    Alice     Math     90
1      Bob     Math     85
2  Charlie     Math     70
3    Alice  History     95
4      Bob  History     80




subject
History    87.500000
Math       81.666667
Name: score, dtype: float64

In [20]:
orders = pd.DataFrame({
    'product': ['apple', 'banana', 'apple', 'apple', 'banana'],
    'quantity': [1, 2, 3, 2, 1]
})

# Group by product and get total quantity sold
print(orders)
print('\n')
grouped=orders.groupby('product')['quantity'].sum()
print(grouped)

  product  quantity
0   apple         1
1  banana         2
2   apple         3
3   apple         2
4  banana         1


product
apple     6
banana    3
Name: quantity, dtype: int64

In [21]:
sales = pd.DataFrame({
    'store': ['A', 'A', 'B', 'B', 'A'],
    'month': ['Jan', 'Feb', 'Jan', 'Feb', 'Jan'],
    'revenue': [100, 150, 200, 130, 80]
})

print(sales)
print('\n')
# Group by store and month to see monthly revenue per store
grouped = sales.groupby(['store', 'month'])['revenue'].sum()
print(grouped)

  store month  revenue
0     A   Jan      100
1     A   Feb      150
2     B   Jan      200
3     B   Feb      130
4     A   Jan       80


store  month
A      Feb      150
       Jan      180
B      Feb      130
       Jan      200
Name: revenue, dtype: int64

In [22]:
multiplegrouped= grades.groupby('subject')['score'].agg(['mean', 'max', 'count'])
print(multiplegrouped)

              mean  max  count
subject
History  87.500000   95      2
Math     81.666667   90      3

In [27]:
#I wanna name the aggregated column
df = pd.DataFrame({
    'category': ['A', 'A', 'B', 'B'],
    'value': [10, 20, 30, 40]
})
print(df)
print('\n')
# Name the aggregated column "total_value"
result = df.groupby('category').agg(total_value=('value', 'sum')).reset_index()
print(result)

  category  value
0        A     10
1        A     20
2        B     30
3        B     40


  category  total_value
0        A           30
1        B           70

In [29]:
#Option 2; rename after aggregation
result = df.groupby('category')['value'].sum().reset_index()
result = result.rename(columns={'value': 'total_value'})
print(result)

  category  total_value
0        A           30
1        B           70

In [30]:
#Option 3: Multiple Named Aggregations
result = df.groupby('category').agg(
    total_sum=('value', 'sum'),
    average_value=('value', 'mean'),
    count_values=('value', 'count')
).reset_index()

print(result)

  category  total_sum  average_value  count_values
0        A         30           15.0             2
1        B         70           35.0             2